body {
  font-size: 16px;
  color: #000;
  background-color: #F5F5DC;
  font-family: "Trebuchet MS";
}
  #header-nav {
  background-color:#7d13ff;
  border-radius: 0;
  border: 0;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 0px;
  padding-right: 0px;
 } 
 #header-nav .container {
  padding-left: 20px;
  width: 100%
 }
.navbar-brand {
  padding-top: 0px;
  text-align: left;
  padding-left: 0px;
  margin-left: 0px;
}
.navbar-brand h1 {
  padding-top: 0px;
  margin-top: 0px;
  text-align: left;
  padding-left: 0px;
  margin-left: 0px;
}
#nav-list {
  margin-top: 10px;
}
#nav-list a {
  color: #000;
  text-align: center;
  background-color: #ffa5f2;
}
#nav-list a:hover {
  background: #974b15;
}
#nav-list a span {
  font-size: 1.8em;
}  
.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 2px solid #61122f;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: 5px;
}
.row {
  padding-left: 20px;
  padding-right:20px;  
}
.classy {
  background-color: #fb0;
  margin: 25px;
  margin-bottom: 60px;
  padding: 10px;
}
p {
  padding: 25px;
}
h3 {
  padding-top: 25px;
}
h1{
  font-family: Georgia;
  font-style: italic;
  font-weight: bold;
  color: #fff;
}